.title {
    position: fixed;
    top: 20px;
    left: 20px;
}

.btn {
    position: fixed;
    top: 25px;
    right: 100px;
    background-color: #fabb04;
    color: #300c28;
    border-color: #300c28;
}
    
.btn:hover {
    background-color: #853173;
}
    
.btn:active {
    background-color: #853173;
}

header {
    border-bottom: #fff;
    border-width: 10px;
}
body {
    padding: 25px;
    background-color: #bdb3ba;
    color: black;
}
  
body.dark-mode {
    background-color: #300c28;
    color: #fff;
}

 
.mode-toggle {
    position: fixed;
    top: 22px;
    right: 20px;
    cursor: pointer;
    z-index: 9999;
}
  
.emoji {
    font-size: 24px;
}