body {
  padding: 10px;
  background-color: #bdb3ba;
  color: black;
}

body.dark-mode {
  background-color: #300c28;
  color: #fff;
}


.mode-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 9999;
}

.emoji {
  font-size: 24px;
}

.btn {
  background-color: #fabb04;
  border-color: #300c28; 
}

.btn:hover {
  background-color: #853173;
}

.btn:active {
  background-color: #853173;
}

.image {
  padding-bottom: 50px;
}
.form-container {
  padding-left: 5%;
}

h3 {
  margin-bottom: 50px;
}

